<!-- Optional additional links to insert for icons links -->

<a
  class="icon"
  title="GitHub"
  aria-label="GitHub"
  href="https://github.com/PAASTA-community"
>
  {% include svg/github.svg %}
</a>

<a
  class="icon"
  title="Element"
  aria-label="Element"
  href="https://matrix.to/#/#paasta:archaeo.social"
>
  {% include svg/element.svg %}
</a>

<a
  class="icon"
  title="Bluesky"
  aria-label="Bluesky"
  href="https://bsky.app/profile/paastacommunity.bsky.social"
>
  {% include svg/bluesky.svg %}
</a>

<a
  class="icon"
  title="YouTube"
  aria-label="YouTube"
  href="https://www.youtube.com/@PAASTAcommunity"
>
  {% include svg/youtube.svg %}
</a>

  <a
  class="icon"
  title="Instagram"
  aria-label="Instagram"
  href="https://www.instagram.com/paasta.community/"
>
  {% include svg/Instagram_white.svg %}
</a>




